[Unit]
Description=gocron执行器

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/code/gocron
ExecStart=/root/code/gocron/bin/gocron-node -allow-root
Restart=on-failure
RestartSec=360

[Install]
WantedBy=multi-user.target
