[Unit]
Description=gocron调度器

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/code/gocron
ExecStart=/root/code/gocron/bin/gocron web
Restart=on-failure
RestartSec=360

[Install]
WantedBy=multi-user.target
